<div class="wrapper">
    <!-- top navbar-->
    <app-header class="topnavbar-wrapper"></app-header>
    <!-- sidebar-->
    <!--<app-sidebar class="aside"></app-sidebar>-->
    <!--&lt;!&ndash; offsidebar&ndash;&gt;-->
    <!--<app-offsidebar class="offsidebar"></app-offsidebar>-->
    <!--&lt;!&ndash; Main section&ndash;&gt;-->
    <!--<section>-->
        <!--&lt;!&ndash; Page content&ndash;&gt;-->
        <!--<div class="content-wrapper">-->
            <!--<router-outlet></router-outlet>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; Page footer&ndash;&gt;-->
    <!--<footer app-footer></footer>-->
</div>